.main-image {
    margin-bottom: 16px;
    overflow: hidden;
    position: relative;
}

.product-actions-icon-button {

    display: flex;
    justify-content: end;
    align-items: center;
}

.product-action-container {
    position: absolute;
    top: 40px;
    right: 125px;
    z-index: 9;
}

.product-details-actions {
    display: flex;
    gap: 10px;
}

.product-actions-icon {
    position: relative;
    width: 35px;
    height: 35px;
    background-color: #E0E6ED;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 7px;
}

.product-actions-icon:hover {
    background-color: #90b7e7;
}

.product-actions-icon:hover svg path {
    background-color: #90b7e7;
}

/* Wishlist active state */
/* .product-actions-icon.wishlist-active {
    background-color: #FFE6E6;
    border: 2px solid #FF6B6B;
} */

.product-actions-icon.wishlist-active svg path {
    fill: #2D5586;
}

.product-actions-icon.wishlist-active:hover {
    background-color: #90b7e7;
    transform: scale(1.05);
}

.product-actions-share-icon {
    position: relative;
    width: 23px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.product-actions-icon .product-actions-icon-svg {
    width: 20px;
    height: 20px;
    color: #4b5563;
    transition: color 0.2s ease;
}

.product-action-container-mobile {
    display: none;
}

@media (max-width: 768px) {
    .product-action-container {
        display: none;
    }

    .product-action-container-mobile {
        display: block;
    }
}